html, body{
	background-color: grey;
	height: 100%;
    margin: 0;
    padding: 0;
}  

div{
	text-align: center;
	height: 100%;
}


.gachette{
			background-color: red;
			display: flex;
			justify-content: center;
			align-items: center;
		}

.fini{
	background-color: grey;
}

#mouton{
}

/* options permettant d'avoir une image responsive dès le début, CSS3 tout simple */
#objet0{
	background:url(media/firstCover.png) no-repeat center fixed;
	margin:0;
	padding:0;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}



#objet1{
	background-color: green;
}

#objet2{
	background-color: red;
}

#objet3{
	background-color: purple;
}

#objet4{
	background-color: yellow;
}

.page{
	height: 100%;
}


