/* Balises principales  */

body{
	margin-left:0%;
	margin-right:0%;	
}

div{
	text-align: center;
	height: 100%;
	padding-top:5%;
}

/* TITRE ARTICLE  */
h1{

text-align: left;
margin-top: 3%;
margin-left:3%;
font-family: raleway;
}

/* CHAPO  */
h2{ 
text-align: justify;
margin-left:8%;
margin-right:0%;	
}		

/* INTER  */					
h3{

}

/* EXERGUE  */
h4{

}
p{
	margin-left:8%;
	margin-right:8%;	
	font-family: 'Raleway';
	text-indent:5%;
	text-align: justify;
	font-size: 100%;
}

@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 25px;}
}   



/* Objets  */
#partieReims{
	background-color: red;
}

#partieBordeaux{
	background-color: red;
}

#champagneIllustr1{
	width: 100%;
	
}

#champagneIllustr1
{
    width: auto;
}

#franceBouteille{
	width: 40%;
}
  



