/* Balises principales  */

html, body {
  background-color: #F4DCE6;
  font-family: 'Raleway';
  font-size: 18px;
  line-height: 28px;
}

.video {
	width: 100%;
}

article, article.row {
	max-width: 800px;
	margin: auto;
}

.encart {
	background-color: white;
	box-shadow: 10px 5px 23px 0px grey;
	border-radius : 15px;
	margin-bottom: 19px;
}

/* TITRE ARTICLE  */

/* CHAPO  */
.lead{
	font-family: 'Oswald';
}
/* INTER  */					

/* EXERGUE  */

p {
	text-indent: 5%;
}
