html, body{
	background-color: grey;
	height: 100%;
    margin: 0;
    padding: 0;
}  

div{
	text-align: center;
	height: 100%;
	padding-top:5%;
}

p{
	margin:5%;
	font-family: 'Raleway';
	text-indent:5%;
	text-align: justify;
}

	
	

.gachette{
			background-color: red;
			display: flex;
			justify-content: center;
			align-items: center;
		}

.fini{
	background-color: grey;
}

#mouton{
}

/* options permettant d'avoir une image responsive dès le début, CSS3 tout simple */
#objet0{
	background-color: white;
	margin:0;
	padding:0;
}



#objet1{
	background:url('assets/images/fondChampagne.png') no-repeat center fixed;
	overflow: scroll;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
	opacity:0.5;
	filter:alpha(opacity=15);
}

#objet2{
	background-color: grey;
}

#objet3{
	background-color: white;
}

#objet4{
	background-color: grey;
}

.page{
	height: 100%;
}


