html, body{
	background-color: grey;
	height: 100%;
    margin: 0;
    padding: 0;
}  

div{
	text-align: center;
	height: 100%;
	padding-top:5%;
}

p{
	margin:8%;
	font-family: 'Raleway';
	text-indent:5%;
	text-align: justify;
	font-size: 100%;
}

	
	

.gachette{
			background-color: red;
			display: flex;
			justify-content: center;
			align-items: center;
		}

.fini{
	background-color: grey;
}

#mouton{
}

/* Objets  */

	#objet0{
		background-color: white;
		margin:0;
		padding:0;
	}

	#objet1{
		background-color: ##F3FDFF;
		margin:0;
		padding:0;
	}

	#objet2{
		background-color: ##F3FDFF;
	}

	#objet3{
		background-color: #FCFED9;
	}

	#objet4{
		background-color: #FED9E2;
	}

	/*RESPONSIVE*/

#champagneIllustr1{
	width: 100%;
}
 #franceBouteille{
    	width: 80%;
    }

@media all and (min-width: 1024px)
{
    #champagneIllustr1
    {
        width: auto;
    }

    #franceBouteille{
    	width: 40%;
    }
    p{
	font-size: 100%;
	}
}

@media all and (max-width: 1024px)
	{
	p{
	font-size: 250%;
	}

